#botao{
    background-color: red;
    padding: 10px;
}

#botao, p{
    color: white;
}

a{
    text-decoration: none;
    justify-content: space-between;
}

.caixa_cz{
    background-color: beige;
}

.caixa_vermelha{
    display: block;
    font-family: serif;
    align-items: center;
    width: 500px;
    justify-content: flex-end;

}

.caixa{
    display: flex;
    flex-direction: row;

}

.correio{
    display: flex;
    justify-content: flex-start;
}

.imagens{
    display: flex;

}

div, p{
    display: block;

}

.quadro{
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 500px;

}

.legenda{
    color: white;
    overflow: wrap;
}

.text{
    display: flex;

}

nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 30px;
}

li{
    display: inline-block;
    justify-content: space-between;
}

h1{
    color: white;
}

h2{
    font-size: 30px;
    color: red;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

p{
    color: red;
}

.tela_cz{
    background-color: wheat;
}

.tabela_1{
    display: flex;
    justify-content: flex-end;
}

.tabela_2{


}

iframe{

}

.folhas{
display:block;
justify-content: flex-end;
align-items: center;
}