/* Resetar a página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, Helvetica;
    background: linear-gradient(135deg, #0f53d1, blue);
    color: white;
    text-align: center;
}

/* Menu */
.menu-cabeça{
    color: solid;
}
.menu {
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu a {
    text-decoration: none; /*Tirei aquela linha feia*/
    color: white;
    font-weight: bold;
    transition: 0.4s ease;
}

.menu a:hover {
    color: rgb(41, 138, 218);
    transform: scale(1.0);
}

/* Card */
.card {
    margin: auto;
    margin-right:auto;
    margin-left: auto;
    margin-top: auto;
    padding: 50px;
    width: 50%;
    max-width: 600px;
    background: rgba(17, 6, 6, 0.1);
    border-radius: 5px;
    transition: 0.5s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

/* Links */
.links {
    margin: 30px 0;
}

.links a {
    display: inline-block;
    margin: 10px;
    padding: 12px 25px;
    background: white;
    text-decoration: none;
    transition: 0.4s ease;
}

.links a:hover {
    background: #ffdd00;
    transform: scale(1.15);
}

/* Imagens */

/* Imagens */

.imagens {
    text-align: center;
    margin: 40px 0;
}

.img {
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    transition: 0.4s ease;
}

.img:hover {
    transform: scale(1.15);
}

/* Mapa e Videos */
iframe {
    /*border-radius: 15px;*/
    margin: 50px 0;
    transition: 0.5s ease;
}

iframe:hover {
    transform: scale(1.05);
}

/* Rolamento */
#rolamento {
    margin: 40px auto;
    padding: 25px;
    width: 250px;
    background: white;
    color: #4a00e0;
    border-radius: 30px;
    cursor: pointer;
    /*transition: 0.5s ease;*/
}

#rolamento:hover {
    transform: scale(1.2);
    background: #36f008;
    position: absolute;
    /*animation: moverGirar 4s linear infinite;*/
}

table {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    color: black;
    height: 50%;
    width: 50%;
}

td{
    color: white;
}

tr{
    color: black, solid;
    padding-top: 50%;
}


/* FOOTER */
footer {
    margin-top: 40px;
    padding: 20px;
    font-size: 14px;
}