body{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    /* largura | estilo | cor */
    border: 5px solid #000000; 
    
    /* Garante que o canvas fique centralizado se necessário */
    display: block;
    margin: 20px auto;
}